http_interactions:
- request:
    method: get
    uri: http://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Diplur&fuzzy=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"top_matched_names":[{"taxid":603673,"taxon":"Diplura","tax_rank":"genus","tax_division":"Protista","parentid":53974,"parentname":"Scytosiphonaceae","specimenrecords":"6"},{"taxid":734358,"taxon":"Diplura","tax_rank":"class","tax_division":"Animalia","parentid":20,"parentname":"Arthropoda","taxonrep":"Diplura","representitive_image":{"image":"BSOIL\/GBOL20120+1540220834.jpg","apectratio":0.841},"specimenrecords":"308"},{"taxid":819980,"taxon":"Diplura
        paraguayensis","tax_rank":"species","tax_division":"Animalia","parentid":819969,"parentname":"Diplura_genus","taxonrep":"Diplura
        paraguayensis","specimenrecords":"1"},{"taxid":603674,"taxon":"Diplura simplex","tax_rank":"species","tax_division":"Protista","parentid":603673,"parentname":"Diplura","specimenrecords":"1"},{"taxid":603675,"taxon":"Diplura
        sp","tax_rank":"species","tax_division":"Protista","parent[...]
- request:
    method: get
    uri: http://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Diplur
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"top_matched_names":[],"total_matched_names":0}'
  recorded_at: 2020-01-17 16:57:02 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
