http_interactions:
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Bombus%20amurensis&fuzzy=false
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"top_matched_names":[{"taxid":160018,"taxon":"Bombus amurensis","tax_rank":"species","tax_division":"Animalia","parentid":2087,"parentname":"Bombus","taxonrep":"Bombus
        amurensis","specimenrecords":"13"}],"total_matched_names":1}'
  recorded_at: 2023-02-20 17:37:44 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonData?taxId=160018&dataTypes=basic&includeTree=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"160018":{"taxid":160018,"taxon[...]
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Bombus%20mongolensis&fuzzy=false
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"top_matched_names":[{"taxid":365182,"taxon":"Bombus mongolensis","tax_rank":"species","tax_division":"Animalia","parentid":2087,"parentname":"Bombus","taxonrep":"Bombus
        mongolensis","specimenrecords":"18"}],"total_matched_names":1}'
  recorded_at: 2023-02-20 17:37:44 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Bombus%20difficillimus&fuzzy=false
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"top_matched_names":[{"taxid":193205,"taxon":"Bombus difficillimus","tax_rank":"species","tax_division":"Animalia","parentid":2087,"parentname":"Bombus","taxonrep":"Bombus
        difficillimus","representitive_image":{"image":"QHBB\/20QHBb-222_Lateral+1611428780.JPG","apectratio":1.499},"specimenrecords":"26"}],"total_matched_names":1}'
  recorded_at: 2023-02-20 17:37:44 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Bombus%20melanurus&fuzzy=false
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"top_matched_names":[{"taxid":32123,"taxon":"Bombus melanurus","tax_rank":"species","tax_division":"Animalia","parentid":2087,"parentname":"Bombus","taxonrep":"Bombus
        melanurus","specimenrecords":"109"}],"total_matched_names":1}'
  recorded_at: 2023-02-20 17:37:44 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Bombus%20appositus&fuzzy=false
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"top_matched_names":[{"taxid":96607,"taxon":"Bombus appositus","tax_rank":"species","tax_division":"Animalia","parentid":2087,"parentname":"Bombus","taxonrep":"Bombus
        appositus","representitive_image":{"image":"BBHYL\/IMG_8699+1295993036.jpg","apectratio":1.499},"specimenrecords":"85"}],"total_matched_names":1}'
  recorded_at: 2023-02-20 17:37:44 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Hymenoptera&fuzzy=false
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"top_matched_names":[{"taxid":125,"taxon":"Hymenoptera","tax_rank":"order","tax_division":"Animalia","parentid":82,"parentname":"Insecta","taxonrep":"Hymenoptera","representitive_image":{"image":"BCHYM\/BC_ZSM_HYM_22603+1421074896.jpg","apectratio":1.333},"specimenrecords":"1954961"}],"total_matched_names":1}'
  recorded_at: 2023-02-20 17:37:44 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Bombus%20fragrans&fuzzy=false
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"top_matched_names":[{"taxid":158414,"taxon":"Bombus fragrans","tax_rank":"species","tax_division":"Animalia","parentid":2087,"parentname":"Bombus","taxonrep":"Bombus
        fragrans","specimenrecords":"23"}],"total_matched_names":1}'
  recorded_at: 2023-02-20 17:37:44 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
