http_interactions:
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Public/specimen?taxon=Coelioxys&format=tsv
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/x-download
      content-disposition: attachment; filename=bold_data.txt
    body:
      encoding: UTF-8
      file: no
      string: "processid\tsampleid\trecordID\tcatalognum\tfieldnum\tinstitution_storing\tcollection_code\tbin_uri\tphylum_taxID\tphylum_name\tclass_taxID\tclass_name\torder_taxID\torder_name\tfamily_taxID\tfamily_name\tsubfamily_taxID\tsubfamily_name\tgenus_taxID\tgenus_name\tspecies_taxID\tspecies_name\tsubspecies_taxID\tsubspecies_name\tidentification_provided_by\tidentification_method\tidentification_reference\ttax_note\tvoucher_status\ttissue_type\tcollection_event_id\tcollectors\tcollec[...]
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Public/specimen?taxon=Coelioxys&format=xml
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/x-download
      content-disposition: attachment; filename=bold_data.xml
    body:
      encoding: UTF-8
      file: no
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<bold_records xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:noNamespaceSchemaLocation=\"http://192.168.12.56/schemas/BOLDPublic_record.xsd\">\r\n
        \ <record>\r\n    <record_id>8362216</record_id>\r\n    <processid>ABEE117-17</processid>\r\n
        \   <bin_uri>BOLD:AAS0189</bin_uri>\r\n    <specimen_identifiers>\r\n      <sampleid>NHMW-HYM
        299</sampleid>\r\n      <catalognum>NHMW-HYM 299</catalognum>\r\n      <fieldnum>NBH2
        Schoder 2016.07.29 WienAUTWienSchoder</fieldnum>\r\n      <institution_storing>Naturhistorisches
        Museum Wien</institution_storing>\r\n    </specimen_identifiers>\r\n    <taxonomy>\r\n
        \     <identification_provided_by>Herbert Zettel</identification_provided_by>\r\n
        \     <identification_method>identification key</identification_method>\r\n
        \     <phylum>\r\n        <taxon>\r\n          <taxID>20</taxID>\r\n          <name>Arthropoda</name>\r\n
        \       </taxon>\r\n      </phylum>\r\n      <class>\r\n        <taxon>\r\n
        \         <taxID>82</taxID>\r\n          <name>Insecta</name>\r\n        </taxon>\r\n
        \     </class>\r\n      <order>\r\n        <taxon>\r\n          <taxID>125</taxID>\r\n
        \         <name>Hymenoptera</name>\r\n        </taxon>\r\n      </order>\r\n
        \     <family>\r\n        <taxon>\r\n          <taxID>443</taxID>\r\n          <name>Megachilidae</name>\r\n
        \       </taxon>\r\n      </family>\r\n      <subfamily>\r\n        <taxon>\r\n
        \         <taxID>4962</taxID>\r\n          <name>Megachilinae</name>\r\n        </taxon>\r\n
        \     </subfamily>\r\n      <genus>\r\n        <taxon>\r\n          <taxID>4964</taxID>\r\n
        \         <name>Coelioxys</name>\r\n        </taxon>\r\n      </genus>\r\n
        \     <species>\r\n        <taxon>\r\n          <taxID>256630</taxID>\r\n
        \         <name>Coelioxys elongata</name>\r\n          <reference>Lepeletier,
        1841</reference>\r\n        </taxon>\r\n      </species>\r\n    </taxonomy>\r\n
        \   <specimen_desc>\r\n      <voucher_status>Vouchered:Registered Collection</voucher_status>\r\n
        \     <reproduction>S</reproduction>\r\n      <sex>F</sex>\r\n      <lifestage>adult</lifestage>\r\n
        \   </specimen_desc>\r\n    <collection_event>\r\n      <collectors>Schoder
        Sabine</collectors>\r\n      <country>Austria</country>\r\n      <province_state>Vienna</province_state>\r\n
        \     <exactsite>Nordbahnhof 1020 Wien</exactsite>\r\n      <coordinates>\r\n
        \       <lat>48.2273</lat>\r\n        <lon>16.3919</lon>\r\n        <coord_source>Google
        Earth</coord_source>\r\n        <coord_accuracy></coord_accuracy>\r\n      </coordinates>\r\n
        \   </collection_event>\r\n    <notes></notes>\r\n  </record>\r\n  <record>\r\n
        \   <record_id>8362226</record_id>\r\n    <processid>ABEE127-17</processid>\r\n
        \   <bin_uri>BOLD:AAJ6969</bin_uri>\r\n    <specimen_identifiers>\r\n      <sampleid>NHMW-HYM
        529</sampleid>\r\n      <catalognum>NHMW-HYM 529</catalognum>\r\n      <fieldnum>NBH2
        Zimmermann 2016.08.25 WienAUTWienZimmermann</fieldnum>\r\n      <institution_storing>Naturhistorisches
        Museum Wien</institution_storing>\r\n    </specimen_ide[...]
