http_interactions:
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonData?taxId=88899&dataTypes=basic
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"taxid":88899,"taxon":"Momotus","tax_rank":"genus","tax_division":"Animalia","parentid":88898,"parentname":"Momotidae"}'
  recorded_at: 2020-04-20 15:48:32 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonData?taxId=88899&dataTypes=basic&includeTree=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"88899":{"taxid":88899,"taxon":"Momotus","tax_rank":"genus","tax_division":"Animalia","parentid":88898,"parentname":"Momotidae"},"88898":{"taxid":88898,"taxon":"Momotidae","tax_rank":"family","tax_division":"Animalia","parentid":339,"parentname":"Coraciiformes"},"339":{"taxid":339,"taxon":"Coraciiformes","tax_rank":"order","tax_division":"Animalia","parentid":51,"parentname":"Aves"},"51":{"taxid":51,"taxon":"Aves","tax_rank":"class","tax_division":"Animalia","parentid":18,"parentname":"Chordata","taxonrep":"Aves"},"18":{"taxid":18,"taxon":"Chordata","tax_rank":"phylum","tax_division":"Animalia","parentid":1,"taxonrep":"Chordata"}}'
  recorded_at: 2020-04-20 15:48:32 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
