http_interactions:
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/Ids_xml?sequence=AACCCTATACTTTTTATTTGGAATTTGAGCGGGTATAGTAGGTACTAGCTTAAGTATATTAATTCGTCTAGAGCTAGGACAACCCGGTGTATTTTTAGAAGATGACCAAACCTATAACGTTATTGTAACAGCCCACGCTTTTATTATAATTTTCTTCATAATTATACCAATC%0A%20%20%20%20ATAATTGGA&db=COX1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/xml
    body:
      encoding: UTF-8
      file: no
      string: '<?xml version="1.0"?><matches><match><ID>JSSEP1012-11</ID><sequencedescription>COI-5P</sequencedescription><database>BOLD:
        Public Records</database><citation>BOLD Systems, 2020</citation><taxonomicidentification>Blaste
        sp. 2KJ&EM</taxonomicidentification><similarity>1</similarity><specimen><url>http://www.boldsystems.org/index.php/Public_RecordView?processid=JSSEP1012-11</url><collectionlocation><country>Canada</country><coord><lat>44.618</lat><lon>-75.775</lon></coord></collectionlocation></specimen></match><match><ID>SSPPA3497-15</ID><sequencedescription>COI-5P</sequencedescription><database>BOLD:
        Public Records</database><citation>BOLD Systems, 2020</citation><taxonomicidentification>Blaste
        sp. 2KJ&EM</taxonomicidentification><similarity>1</similarity><specimen><url>http://www.boldsystems.org/index.php/Public_RecordView?processid=SSPPA3497-15</url><collectionlocation><country>Canada</country><coord><lat>41.9641</lat><lon[...]
