http_interactions:
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonData?taxId=321215&dataTypes=basic%2Cstats
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"taxid":321215,"taxon":"Placozoa","tax_rank":"phylum","tax_division":"Animalia","parentid":1,"stats":{"publicspecies":2,"publicbins":4,"publicmarkersequences":{"ND5-0":5,"CYTB":4,"COXIII":5,"ND4L":5,"COI-5P":12,"ND1":5,"ND3":5,"ND2":5,"COII":5,"ND4":5,"ND6":5},"publicrecords":12,"publicsubspecies":0,"specimenrecords":20,"sequencedspecimens":63,"barcodespecimens":11,"species":2,"barcodespecies":2}}'
  recorded_at: 2020-04-20 15:48:31 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
