http_interactions:
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Bombus%20amurensis
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"top_matched_names":[{"taxid":160018,"taxon":"Bombus amurensis","tax_rank":"species","tax_division":"Animalia","parentid":2087,"parentname":"Bombus","taxonrep":"Bombus
        amurensis","specimenrecords":"13"}],"total_matched_names":1}'
  recorded_at: 2020-04-20 15:49:17 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonData?taxId=160018&dataTypes=basic&includeTree=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"160018":{"taxid":160018,"taxon":[...]
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Bombus%20mongolensis
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"top_matched_names":[{"taxid":365182,"taxon":"Bombus mongolensis","tax_rank":"species","tax_division":"Animalia","parentid":2087,"parentname":"Bombus","taxonrep":"Bombus
        mongolensis","specimenrecords":"18"}],"total_matched_names":1}'
  recorded_at: 2020-04-20 15:49:17 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
[...]
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Bombus%20difficillimus
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"top_matched_names":[{"taxid":193205,"taxon":"Bombus difficillimus","tax_rank":"species","tax_division":"Animalia","parentid":2087,"parentname":"Bombus","taxonrep":"Bombus
        difficillimus","specimenrecords":"13"}],"total_matched_names":1}'
  recorded_at: 2020-04-20 15:49:17 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
[...]
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Bombus%20melanurus
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"top_matched_names":[{"taxid":32123,"taxon":"Bombus melanurus","tax_rank":"species","tax_division":"Animalia","parentid":2087,"parentname":"Bombus","taxonrep":"Bombus
        melanurus","representitive_image":{"image":"BCA\/3764f01+1264803642.jpg","apectratio":0.676},"specimenrecords":"94"}],"total_matched_names":1}'
  recorded_at: 2020-04-20 15:49:17 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
[...]
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Bombus%20appositus
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"top_matched_names":[{"taxid":96607,"taxon":"Bombus appositus","tax_rank":"species","tax_division":"Animalia","parentid":2087,"parentname":"Bombus","taxonrep":"Bombus
        appositus","representitive_image":{"image":"BUSA\/CCDB-15255-C02+1334592986.jpg","apectratio":0.917},"specimenrecords":"83"}],"total_matched_names":1}'
  recorded_at: 2020-04-20 15:49:17 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
[...]
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Hymenoptera
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"top_matched_names":[{"taxid":125,"taxon":"Hymenoptera","tax_rank":"order","tax_division":"Animalia","parentid":82,"parentname":"Insecta","taxonrep":"Hymenoptera","representitive_image":{"image":"BCHYM\/BC_ZSM_HYM_22603+1421074896.jpg","apectratio":1.333},"specimenrecords":"1345420"}],"total_matched_names":1}'
  recorded_at: 2020-04-20 15:49:17 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
[...]
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Bombus%20fragrans
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"top_matched_names":[{"taxid":158414,"taxon":"Bombus fragrans","tax_rank":"species","tax_division":"Animalia","parentid":2087,"parentname":"Bombus","taxonrep":"Bombus
        fragrans","specimenrecords":"23"}],"total_matched_names":1}'
  recorded_at: 2020-04-20 15:49:17 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
[...]
