http_interactions:
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Public/stats?taxon=Coelioxys&dataType=drill_down&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/x-download
      content-disposition: attachment; filename=bold_data.json
    body:
      encoding: UTF-8
      file: no
      string: '{"total_records":421,"records_with_species_name":392,"bins":{"count":76,"drill_down":{"entity":[{"name":"BOLD:AAJ0601","records":25},{"name":"BOLD:AAC1241","records":23},{"name":"BOLD:AAJ6969","records":20},{"name":"BOLD:AAV8048","records":19},{"name":"BOLD:AAF4653","records":18},{"name":"BOLD:AAZ1454","records":18},{"name":"BOLD:AAB8471","records":15},{"name":"BOLD:AAY8053","records":13},{"name":"BOLD:AAD1401","records":12},{"name":"BOLD:AAS0189","records":12},{"name":"Others","records":158}]}},"countries":{"count":29,"drill_down":{"entity":[{"name":"Germany","records":110},{"name":"Canada","records":68},{"name":"Nigeria","records":48},{"name":"United
        States","records":44},{"name":"Austria","records":20},{"name":"Costa Rica","records":20},{"name":"Unspecified*","records":20},{"name":"Australia","records":17},{"name":"Finland","records":14},{"name":"South
        Africa","records":7},{"name":"Others","records":53}]}},"depositories":{"count":30,"drill_down":{"entity":[{"name":"SNSB,
        Zoologische Staatssammlung Muenchen","records":125},{"name":"Mined from GenBank,
        NCBI","records":77},{"name":"York University, Packer Collection","records":69},{"name":"Centre
        for Biodiversity Genomics","records":65},{"name":"Finnish Museum of Natural
        History, Zoological Museum","records":14},{"name":"University of Guelph","records":9},{"name":"South
        Australian Museum","records":9},{"name":"Naturhistorisches Museum Wien","records":9},{"name":"Chinese
        Academy of Sciences, Kunming Institute of Zoology","records":7},{"name":"Museo
        Argentino de Ciencias Naturales, Bernardino Rivadavia","records":4},{"name":"Others","records":33}]}},"order":{"count":1,"drill_down":{"entity":[{"name":"Hymenoptera","records":421},{"name":"Others","records":0}]}},"family":{"count":1,"drill_down":{"entity":[{"name":"Megachilidae","records":421},{"name":"Others","records":0}]}},"genus":{"count":1,"drill_down":{"entity":[{"name":"Coelioxys","records":421},{"name":"Others","records":0}]}},"species":{"count":61,"drill_down":{"entity":[{"name":"Coelioxys
        sp. HMG-2011","records":48},{"name":"Unspecified*","records":29},{"name":"Coelioxys
        afra","records":24},{"name":"Coelioxys conica","records":23},{"name":"Coelioxys
        rufitarsis","records":23},{"name":"Coelioxys conoidea","records":22},{"name":"Coelioxys
        mandibularis","records":21},{"name":"Coelioxys aurolimbata","records":20},{"name":"Coelioxys
        zapoteca","records":18},{"name":"Coelioxys elongata","records":17},{"name":"Others","records":176}]}}}'
  recorded_at: 2023-02-20 16:49:48 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Public/stats?taxon=Coelioxys%7COsmia&dataType=drill_down&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/x-download
      content-disposition: attachment; filename=bold_data.json
    body:
      encoding[...]
