http_interactions:
- request:
    method: get
    uri: http://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Diplura
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"top_matched_names":[{"taxid":603673,"taxon":"Diplura","tax_rank":"genus","tax_division":"Protista","parentid":53974,"parentname":"Scytosiphonaceae","specimenrecords":"6"},{"taxid":734358,"taxon":"Diplura","tax_rank":"class","tax_division":"Animalia","parentid":20,"parentname":"Arthropoda","taxonrep":"Diplura","representitive_image":{"image":"BSOIL\/GBOL20120+1540220834.jpg","apectratio":0.841},"specimenrecords":"308"}],"total_matched_names":2}'
  recorded_at: 2020-01-17 16:56:58 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
[...]
- request:
    method: get
    uri: http://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Osmia
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"top_matched_names":[{"taxid":4940,"taxon":"Osmia","tax_rank":"genus","tax_division":"Animalia","parentid":4962,"parentname":"Megachilinae","taxonrep":"Osmia","representitive_image":{"image":"BUSA\/IMG_3061.jpg","apectratio":1.486},"specimenrecords":"2819"}],"total_matched_names":1}'
  recorded_at: 2020-01-17 16:56:58 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
- request:
    method: get
    uri: http://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Apis
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"top_matched_names":[{"taxid":1937,"taxon":"Apis","tax_rank":"genus","tax_division":"Animalia","parentid":2183,"parentname":"Apinae","taxonrep":"Apis","representitive_image":{"image":"BOFTH\/B3260-B09+1247093258.jpg","apectratio":1.362},"specimenrecords":"3536"}],"total_matched_names":1}'
  recorded_at: 2020-01-17 16:56:58 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
- request:
    method: get
    uri: http://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Puma%20concolor
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"top_matched_names":[{"taxid":12521,"taxon":"Puma concolor","tax_rank":"species","tax_division":"Animalia","parentid":4372,"parentname":"Puma","taxonrep":"Puma
        concolor","representitive_image":{"image":"FCMUN\/IBUNAM_CNMA_1314+1276871340.JPG","apectratio":1.493},"specimenrecords":"358"}],"total_matched_names":1}'
  recorded_at: 2020-01-17 16:56:58 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
- request:
    method: get
    uri: http://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Pinus%20concolor
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"top_matched_names":[],"total_matched_names":0}'
  recorded_at: 2020-01-17 16:56:58 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
