http_interactions:
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonData?taxId=88899&dataTypes=stats
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"stats":{"publicspecies":2,"publicbins":8,"publicmarkersequences":{"COI-5P":39},"publicrecords":39,"publicsubspecies":0,"specimenrecords":82,"sequencedspecimens":65,"barcodespecimens":59,"species":3,"barcodespecies":3}}'
  recorded_at: 2020-04-20 15:48:30 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
