http_interactions:
- request:
    method: get
    uri: http://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Diplur&fuzzy=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"top_matched_names":[{"taxid":603673,"taxon":"Diplura","tax_rank":"genus","tax_division":"Protists","parentid":53974,"parentname":"Scytosiphonaceae","specimenrecords":"6"},{"taxid":734358,"taxon":"Diplura","tax_rank":"class","tax_division":"Animals","parentid":20,"parentname":"Arthropoda","taxonrep":"Diplura","representitive_image":{"image":"SSWLA\/BIOUG09581-E05+1434047314.jpg","apectratio":1.339},"specimenrecords":"306"},{"taxid":603674,"taxon":"Diplura
        simplex","tax_rank":"species","tax_division":"Protists","parentid":603673,"parentname":"Diplura","specimenrecords":"1"},{"taxid":603675,"taxon":"Diplura
        sp","tax_rank":"species","tax_division":"Protists","parentid":603673,"parentname":"Diplura","specimenrecords":"5"},{"taxid":734360,"taxon":"Diplura_order","tax_rank":"order","tax_division":"Animals","parentid":734358,"parentname":"Diplura","representitive_image":{"i[...]
- request:
    method: get
    uri: http://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Diplur
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"top_matched_names":[],"total_matched_names":0}'
  recorded_at: 2019-06-08 17:28:31 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
