http_interactions:
- request:
    method: get
    uri: http://v4.boldsystems.org/index.php/API_Tax/TaxonData?taxId=321215&dataTypes=stats
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"stats":{"publicspecies":1,"publicbins":4,"publicmarkersequences":{"ND5-0":5,"CYTB":4,"COXIII":5,"ND4L":5,"COI-5P":5,"ND1":5,"ND3":5,"ND2":5,"COII":5,"ND4":5,"ND6":5},"publicrecords":5,"publicsubspecies":0,"specimenrecords":13,"sequencedspecimens":56,"barcodespecimens":5,"species":1,"barcodespecies":1}}'
  recorded_at: 2018-11-13 23:20:33 GMT
  recorded_with: vcr/0.2.0, webmockr/0.2.9
