http_interactions:
- request:
    method: get
    uri: http://v4.boldsystems.org/index.php/API_Public/stats?taxon=Osmia&dataType=drill_down&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-disposition: attachment; filename=bold_data.json
      content-type: application/x-download
    body:
      encoding: UTF-8
      string: '{"total_records":904,"records_with_species_name":875,"bins":{"count":151,"drill_down":{"entity":[{"name":null,"records":null},{"name":null,"records":null}]}},"countries":{"count":20,"drill_down":{"entity":[{"name":null,"records":null},{"name":null,"records":null}]}},"depositories":{"count":18,"drill_down":{"entity":[{"name":null,"records":null},{"name":null,"records":null}]}},"order":{"count":1,"drill_down":{"entity":[{"name":null,"records":null},{"name":null,"records":null}]}},"family":{"count":1,"drill_down":{"entity":[{"name":null,"records":null},{"name":null,"records":null}]}},"genus":{"count":1,"drill_down":{"entity":[{"name":null,"records":null},{"name":null,"records":null}]}},"species":{"count":130,"drill_down":{"entity":[{"name":null,"records":null},{"name":null,"records":null}]}}}'
  recorded_at: 2019-01-28 23:47:50 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
