http_interactions:
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonData?taxId=88899&dataTypes=geo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"country":{"Brazil":4,"Colombia":2,"Mexico":2,"Panama":10,"Guatemala":1,"Peru":17,"Bolivia":6,"Ecuador":2},"sitemap":"http:\/\/www.boldsystems.org\/index.php\/TaxBrowser_Maps_CollectionSites?taxid=88899"}'
  recorded_at: 2020-04-20 15:48:30 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
