http_interactions:
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Public/stats?taxon=Osmia&dataType=drill_down&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/x-download
      content-disposition: attachment; filename=bold_data.json
    body:
      encoding: UTF-8
      file: no
      string: '{"total_records":1404,"records_with_species_name":1362,"bins":{"count":156,"drill_down":{"entity":[{"name":null,"records":null},{"name":null,"records":null}]}},"countries":{"count":22,"drill_down":{"entity":[{"name":null,"records":null},{"name":null,"records":null}]}},"depositories":{"count":22,"drill_down":{"entity":[{"name":null,"records":null},{"name":null,"records":null}]}},"order":{"count":1,"drill_down":{"entity":[{"name":null,"records":null},{"name":null,"records":null}]}},"family":{"count":1,"drill_down":{"entity":[{"name":null,"records":null},{"name":null,"records":null}]}},"genus":{"count":1,"drill_down":{"entity":[{"name":null,"records":null},{"name":null,"records":null}]}},"species":{"count":157,"drill_down":{"entity":[{"name":null,"records":null},{"name":null,"records":null}]}}}'
  recorded_at: 2020-04-20 16:00:34 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
