http_interactions:
- request:
    method: get
    uri: http://v4.boldsystems.org/index.php/API_Tax/TaxonData?taxId=88899&dataTypes=basic&includeTree=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"88899":{"taxid":88899,"taxon":"Momotus","tax_rank":"genus","tax_division":"Animals","parentid":88898,"parentname":"Momotidae"},"88898":{"taxid":88898,"taxon":"Momotidae","tax_rank":"family","tax_division":"Animals","parentid":339,"parentname":"Coraciiformes"},"339":{"taxid":339,"taxon":"Coraciiformes","tax_rank":"order","tax_division":"Animals","parentid":51,"parentname":"Aves"},"51":{"taxid":51,"taxon":"Aves","tax_rank":"class","tax_division":"Animals","parentid":18,"parentname":"Chordata","taxonrep":"Aves"},"18":{"taxid":18,"taxon":"Chordata","tax_rank":"phylum","tax_division":"Animals","parentid":1,"taxonrep":"Chordata"}}'
  recorded_at: 2018-04-25 22:06:51 GMT
  recorded_with: vcr/0.0.7.9431
