http_interactions:
- request:
    method: get
    uri: http://v4.boldsystems.org/index.php/API_Tax/TaxonData?taxId=88899&dataTypes=basic
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"taxid":88899,"taxon":"Momotus","tax_rank":"genus","tax_division":"Animals","parentid":88898,"parentname":"Momotidae"}'
  recorded_at: 2018-04-25 22:06:47 GMT
  recorded_with: vcr/0.0.7.9431
