http_interactions:
- request:
    method: get
    uri: http://v4.boldsystems.org/index.php/API_Public/specimen?taxon=Osmia&format=xml
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-disposition: attachment; filename=bold_data.xml
      content-type: application/x-download
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<bold_records xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:noNamespaceSchemaLocation=\"http://v4.boldsystems.org/schemas/BOLDPublic_record.xsd\">\r\n
        \ <record>\r\n    <record_id>8115253</record_id>\r\n    <processid>ABEE075-17</processid>\r\n
        \   <bin_uri></bin_uri>\r\n    <specimen_identifiers>\r\n      <sampleid>NHMW-HYM
        875</sampleid>\r\n      <catalognum>NHMW-HYM 875</catalognum>\r\n      <fieldnum>Schoedl
        04.07.2004</fieldnum>\r\n      <institution_storing>Naturhistorisches Museum,
        Wien</institution_storing>\r\n    </specimen_identifiers>\r\n    <taxonomy>\r\n
        \     <identification_provided_by>Sabine Schoder</identification_provided_by>\r\n
        \     <identification_method>identification key</identification_method>\r\n
        \     <phylum>\r\n        <taxon>\r\n          <taxID>20</taxID>\r\n          <name>Arthropoda</name>\r\n
        \       </taxon>\r\n      </phylum>\r\n      <class>\r\n        <taxon>\r\n
        \         <taxID>82</taxID>\r\n          <name>Insecta</name>\r\n        </taxon>\r\n
        \     </class>\r\n      <order>\r\n        <taxon>\r\n          <taxID>125</taxID>\r\n
        \         <name>Hymenoptera</name>\r\n        </taxon>\r\n      </order>\r\n
        \     <family>\r\n        <taxon>\r\n          <taxID>443</taxID>\r\n          <name>Megachilidae</name>\r\n
        \       </taxon>\r\n      </family>\r\n      <subfamily>\r\n        <taxon>\r\n
        \         <taxID>4962</taxID>\r\n          <name>Megachilinae</name>\r\n        </taxon>\r\n
        \     </subfamily>\r\n      <genus>\r\n        <taxon>\r\n          <taxID>4940</taxID>\r\n
        \         <name>Osmia</name>\r\n        </taxon>\r\n      </genus>\r\n      <species>\r\n
        \       <taxon>\r\n          <taxID>214248</taxID>\r\n          <name>Osmia
        aurulenta</name>\r\n          <reference>Panzer, 1799</reference>\r\n        </taxon>\r\n
        \     </species>\r\n    </taxonomy>\r\n    <specimen_desc>\r\n      <voucher_status>vouchered:
        registered collection</voucher_status>\r\n      <reproduction>S</reproduction>\r\n
        \     <sex>F</sex>\r\n      <lifestage>adult</lifestage>\r\n    </specimen_desc>\r\n
        \   <collection_event>\r\n      <collectors>Schoedl Stefan</collectors>\r\n
        \     <country>Austria</country>\r\n      <province_state>Lower Austria</province_state>\r\n
        \     <exactsite>Bad Fischau-Brunn</exactsite>\r\n      <coordinates>\r\n
        \       <lat>47.8333</lat>\r\n        <lon>16.1666</lon>\r\n        <coord_source></coord_source>\r\n
        \       <coord_accuracy></coord_accuracy>\r\n      </coordinates>\r\n    </collection_event>\r\n
        \   <notes></notes>\r\n  </record>\r\n  <record>\r\n    <record_id>8362257</record_id>\r\n
        \   <processid>ABEE158-17</processid>\r\n    <bin_uri>BOLD:AAI1846</bin_uri>\r\n
        \   <specimen_identifiers>\r\n      <sampleid>NHMW-HYM 877</sampleid>\r\n
        \     <institution_storing>Naturhistorisches Museum, Wien</institution_storing>\r\n
        \   </specimen_identifiers>\r\n    <taxonomy>\r\n      <identification_provided_by>Stefan
        Schoedl</identification_provided_by>\r\n      <iden[...]
