http_interactions:
- request:
    method: get
    uri: http://v4.boldsystems.org/index.php/API_Tax/TaxonData?taxId=88899&dataTypes=geo
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"country":{"Brazil":4,"Colombia":1,"Mexico":2,"Panama":10,"Guatemala":1,"Peru":16,"Bolivia":6,"Ecuador":2},"sitemap":"http:\/\/www.boldsystems.org\/index.php\/TaxBrowser_Maps_CollectionSites?taxid=88899"}'
  recorded_at: 2018-05-17 18:39:40 GMT
  recorded_with: vcr/0.1.0, webmockr/0.2.6, crul/0.5.2
