http_interactions:
- request:
    method: get
    uri: http://v4.boldsystems.org/index.php/API_Public/specimen?taxon=Osmia&format=xml
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-disposition: attachment; filename=bold_data.xml
      content-type: application/x-download
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<bold_records xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:noNamespaceSchemaLocation=\"http://v4.boldsystems.org/schemas/BOLDPublic_record.xsd\">\r\n
        \ <record>\r\n    <record_id>8115255</record_id>\r\n    <processid>ABEE076-17</processid>\r\n
        \   <bin_uri>BOLD:ADH8891</bin_uri>\r\n    <specimen_identifiers>\r\n      <sampleid>NHMW-HYM
        18</sampleid>\r\n      <catalognum>NHMW-HYM 18</catalognum>\r\n      <fieldnum>Zimmermann
        06.06.2016</fieldnum>\r\n      <institution_storing>Naturhistorisches Museum,
        Wien</institution_storing>\r\n    </specimen_identifiers>\r\n    <taxonomy>\r\n
        \     <identification_provided_by>Herbert Zettel</identification_provided_by>\r\n
        \     <identification_method>identification key</identification_method>\r\n
        \     <phylum>\r\n        <taxon>\r\n          <taxID>20</taxID>\r\n          <name>Arthropoda</name>\r\n
        \       </taxon>\r\n      </phylum>\r\n      <class>\r\n        <taxon>\r\n
        \         <taxID>82</taxID>\r\n          <name>Insecta</name>\r\n        </taxon>\r\n
        \     </class>\r\n      <order>\r\n        <taxon>\r\n          <taxID>125</taxID>\r\n
        \         <name>Hymenoptera</name>\r\n        </taxon>\r\n      </order>\r\n
        \     <family>\r\n        <taxon>\r\n          <taxID>443</taxID>\r\n          <name>Megachilidae</name>\r\n
        \       </taxon>\r\n      </family>\r\n      <subfamily>\r\n        <taxon>\r\n
        \         <taxID>4962</taxID>\r\n          <name>Megachilinae</name>\r\n        </taxon>\r\n
        \     </subfamily>\r\n      <genus>\r\n        <taxon>\r\n          <taxID>4940</taxID>\r\n
        \         <name>Osmia</name>\r\n        </taxon>\r\n      </genus>\r\n      <species>\r\n
        \       <taxon>\r\n          <taxID>696831</taxID>\r\n          <name>Osmia
        ligurica</name>\r\n        </taxon>\r\n      </species>\r\n    </taxonomy>\r\n
        \   <specimen_desc>\r\n      <voucher_status>vouchered: registered collection</voucher_status>\r\n
        \     <reproduction>S</reproduction>\r\n      <sex>M</sex>\r\n      <lifestage>adult</lifestage>\r\n
        \   </specimen_desc>\r\n    <collection_event>\r\n      <collectors>Zimmermann
        Dominique</collectors>\r\n      <country>Austria</country>\r\n      <province_state>Vienna</province_state>\r\n
        \     <exactsite>NBH1 Nordbahnhof</exactsite>\r\n      <coordinates>\r\n        <lat>48.2259</lat>\r\n
        \       <lon>16.3938</lon>\r\n        <coord_source></coord_source>\r\n        <coord_accuracy></coord_accuracy>\r\n
        \     </coordinates>\r\n    </collection_event>\r\n    <specimen_imagery>\r\n
        \     <media>\r\n        <mediaID>3162447</mediaID>\r\n        <media_descriptor>labels</media_descriptor>\r\n
        \       <copyright>\r\n          <copyright_year>2017</copyright_year>\r\n
        \         <copyright_license>CreativeCommons  Attribution Non-Commercial (by-nc)</copyright_license>\r\n
        \         <copyright_institution>Natural History Museum Vienna</copyright_institution>\r\n
        \       </copyright>\r\n        <image_file>http://www.boldsystems.org/pics/ABEE/NHMW-HYM0000018_La2+1500053658.jpg</image_file>\r\n
        \     </media>\r\n      <media>\r\n        <mediaID>3162445</mediaID>\r\n
        \       <media_descriptor>Lateral</media_descriptor>\r\n        <copyright>\r\n
        \         <copyright_year>2017</copyright_year>\r\n          <copyright_license>CreativeCommons
        \ Attribution Non-Commercial (by-nc)</copyright_license>\r\n          <copyright_institution>Natural
        History Museum Vienn[...]
