http_interactions:
- request:
    method: get
    uri: http://v4.boldsystems.org/index.php/API_Tax/TaxonData?taxId=88899&dataTypes=stats
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"stats":{"publicspecies":2,"publicbins":5,"publicmarkersequences":{"COI-5P":15},"publicrecords":15,"publicsubspecies":0,"specimenrecords":57,"sequencedspecimens":40,"barcodespecimens":34,"species":3,"barcodespecies":3}}'
  recorded_at: 2018-05-17 18:39:39 GMT
  recorded_with: vcr/0.1.0, webmockr/0.2.6, crul/0.5.2
