http_interactions:
- request:
    method: get
    uri: http://v4.boldsystems.org/index.php/API_Tax/TaxonData?taxId=321215&dataTypes=basic%2Cstats
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"taxid":321215,"taxon":"Placozoa","tax_rank":"phylum","tax_division":"Animals","parentid":1,"stats":{"publicspecies":1,"publicbins":4,"publicmarkersequences":{"ND5-0":5,"CYTB":4,"COXIII":5,"ND4L":5,"COI-5P":5,"ND1":5,"ND3":5,"ND2":5,"COII":5,"ND4":5,"ND6":5},"publicrecords":5,"publicsubspecies":0,"specimenrecords":13,"sequencedspecimens":57,"barcodespecimens":6,"species":1,"barcodespecies":1}}'
  recorded_at: 2018-05-17 18:39:41 GMT
  recorded_with: vcr/0.1.0, webmockr/0.2.6, crul/0.5.2
